body {
  color: #333;
}

/* 清除浮动 */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* 导航栏1 */
.header-top {
  width: 1250px;
  margin: 0 auto;
}

/* 导航栏1浮动 */
.header-top .header-qn,
.header-logo,
.header-nav,
.header-app,
.header-text,
.header-img,
.header-top .header-nav .clearfix a {
  float: left;
  margin: 0 14px;
}

/* 行高 */
.header-top .header-middle {
  line-height: 73px;
  margin-left: 33px;
}

/* 给logo设置宽高和行高 */
.header-top .header-middle .header-logo {
  width: 113px;
  height: 40px;
  line-height: 103px;
}

/* 设置字体大小 */
.header-top .header-middle .header-centent .header-nav,
.header-app,
.header-text {
  font-size: 18px;
}

/* 黔南右边设置小三角形 */
.header-top .header-middle .header-centent .header-qn .triangle::after {
  content: "";
  display: inline-block;
  border-top: 6px solid rgb(124, 124, 124);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  left: 57px;
  top: 35px;
}

/* 黔南样式 */
.header-top .header-middle .header-centent .header-qn {
  position: relative;
  font-size: 16px;
  text-align: center;
  width: 75px;
}

/* 鼠标移动到黔南区域时显示左右外边线 */
.header-top .header-middle .header-centent .header-qn .qn:hover {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

/* 超连接hover伪类 */
.header-top .header-middle .header-centent .header-nav a:hover {
  color: #ef4238;
}

/* 添加手机背景图 */
.header-top .header-middle .header-centent .header-app {
  background-image: url("./img/shouji.png");
  background-repeat: no-repeat;
  background-position-x: 7px;
  background-position-y: 25px;
  position: relative;
  width: 128px;
  text-align: center;
}

/* App下载设置小三角形 */
.header-top .header-middle .header-centent .header-app .triangle-app:after {
  content: "";
  display: inline-block;
  border-top: 6px solid rgb(124, 124, 124);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  left: 106px;
  top: 35px;
}

/* 鼠标移动到App下载区域时显示左右外边线 */
.header-top .header-middle .header-centent .header-app .app:hover {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

/* 本框设置相对定位 */
.header-text {
  position: relative;
}

/* 文本框样式 */
.header-text input {
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 205px;
  height: 37px;
  font-size: 14px;
  text-indent: 1em;
}

/* 文本框内添加圆形的红色背景 */
.header-text .sousuo-text {
  background-color: red;
  width: 37px;
  height: 38px;
  border-radius: 50px;
  position: absolute;
  left: 168px;
  top: 18px;
  background-image: url(./img/sousuo.png);
  cursor: pointer;
}

/* 用户图标设置样式 */
.header-img {
  height: 75px;
  width: 80px;
  position: relative;
  line-height: 103px;
  padding: 0 10px;
}

/* 图用户标设置宽度 */
.header-img img {
  width: 40px;
}

/* 图用户标设置小三角形 */
.header-img:after {
  content: "";
  display: inline-block;
  border-top: 6px solid rgb(124, 124, 124);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  left: 58px;
  top: 36px;
}

/* 鼠标移动到图用户标区域时显示左右外边线 */
.header-img:hover {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}


/* 导航栏2 */
div.main {
  background-color: #47464a;
  height: 60px;
  min-width: 1200px;
  text-align: center;
}

.nav a {
  color: #999;
  line-height: 60px;
  font-size: 16px;
  margin: 0 40px;
}

.nav a:hover {
  color: #e5e5e5;
}

div.main nav.nav a:first-child {
  color: red;
}

.main .nav .hot-showing:after {
  content: "";
  display: inline-block;
  border-bottom: 15px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  left: 39%;
  top: 135px;
}

/* 主体部分 */
.container-type {
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}

.container-type .container-lean {
  width: 1120px;
  margin: 0 auto;
}

.container-type .container-lean .type {
  line-height: 30px;
  padding: 0 25px;
  border: 1px solid #e5e5e5;
}

/* 类型、区域加下划线 */
.container-type .type .choose-item {
  padding: 10px 5px;
  border-bottom: 1px dotted #e5e5e5;
}

/* 去掉年代的下划线 */
.container-type .type .choose-item.on-line {
  border: none;
}

/* 左浮动 */
.container-type .type .left {
  float: left;
  color: #999;
}

/* 右浮动 */
.container-type .type .right {
  float: left;
  width: 1020px;
}

/* li左浮动 */
.container-type .type .right li {
  float: left;
  margin: 0 10px;
  padding: 0 6px;
}

/* 鼠标移入伪类为红色 */
.container-type .type .right li a:hover {
  color: red;
}

/* 第一个列表子元素li背景颜色为红色 */
.container-type .type .right .selected {
  background-color: red;
  color: #fff;
  border-radius: 14px;
  cursor: default;
}

/* 电影海报部分 */
.container-movie {
  width: 1120px;
  margin: 40px 0;
}

.container-movie .movie-list {
  float: left;
  margin: 10px 32px 10px 0;
  text-align: center;
  line-height: 32px;
}

/* 给图片定宽 */
.container-movie .movie-list .movie-poster img {
  width: 160px;
}

/* 选中第六张图片 */
.container-movie .movie-list:nth-child(6n) {
  margin-right: 0px;
}

/* 平分字体样式 */
.container-movie .movie-list .movie-grade p {
  color: #ffb400;
  font-size: 16px;
  font-style: italic;
}

/* 选中第一个字 */
.container-movie .movie-list .movie-grade p:first-letter {
  font-size: 22px;
}

/* 分页字体大小 */
.paging {
  font-size: 16px;
  margin-top: -20px;
  position: relative;
}

/* 距离左边 */
.paging ul {
  margin-left: 20%;
}

.paging ul li {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-left: 8px;
  border: 1px solid rgb(155, 150, 150);
  text-align: center;
  border-radius: 5px;
  padding: 0 15px;
}

/* 鼠标移入伪类样式 */
.paging ul li:hover {
  color: #fff;
  background-color: #999;
}

/* 默认选中 */
.paging ul li:first-child {
  color: #fff;
  background-color: #999;
}

/* 分页小三角形 */
/* .paging .paging-a::after{
  content: "";
  border-top: 7px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  left: 22%;
  top: -2px;
} */
/* 页脚部分 */
.footer-down {
  width: 100%;
  background-color: #262426;
  color: #ccc;
  text-align: center;
  padding: 55px 0;
  line-height: 22px;
  margin-top: 20px;
}

.footer-down .footer-centent .section .section-a {
  display: inline-block;
  margin-left: 20px;
}

/* 超连接为红色 */
.footer-down .footer-centent .section .section-a a {
  color: #ef4238;
}

/* 鼠标移入时显示下划线 */
.footer-down .footer-centent p a:hover {
  text-decoration: underline;
}

.footer-down .footer-img img {
  margin-left: 10px;
}
